@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: none;
    padding: 0 20px;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .mob-menu-active {
    overflow: hidden;
  }
}

.logo {
  color: #000000;
}
.logo--white {
  color: #FFFFFF;
}
.logo__wrapper {
  display: flex;
  align-items: center;
}
.logo__link {
  text-decoration: none;
  color: inherit;
}
.logo__image {
  width: 41px;
  height: 41px;
  margin-right: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 992px) {
  .logo__image {
    width: 28px;
    height: 28px;
    margin-right: 6px;
  }
}
@media screen and (max-width: 992px) {
  .logo--footer .logo__image {
    width: 41px;
    height: 41px;
    margin-right: 8px;
  }
}
.logo__text {
  font-weight: 600;
  line-height: 136%;
}
@media screen and (max-width: 992px) {
  .logo__text {
    font-size: 10px;
  }
}
@media screen and (max-width: 992px) {
  .logo--footer .logo__text {
    font-size: 16px;
  }
}

.button {
  display: inline-block;
  padding: 9px 32px 7px;
  font-weight: 500;
  line-height: 136%;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  background-color: #000000;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button--light {
  background-color: #FFFFFF;
  color: #000000;
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 24px;
  height: 24px;
  padding: 6px 2px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.menu-button::before, .menu-button::after {
  content: "";
}
.menu-button::before, .menu-button::after, .menu-button__inner {
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  background-color: #292D32;
}

.header {
  padding: 10px 0;
  background-color: #FFFFFF;
}
@media screen and (max-width: 992px) {
  .header {
    padding: 6px 0;
  }
}
.header__wrapper {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .header__wrapper {
    justify-content: space-between;
  }
}
.header__logo {
  margin-right: 94px;
}
.header__nav-overlay {
  flex-grow: 1;
  z-index: 1000;
}
@media screen and (max-width: 992px) {
  .header__nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .header__nav-overlay--active {
    opacity: 1;
    pointer-events: auto;
  }
  .header__nav-overlay--active .header__nav-wrap {
    right: 0;
  }
}
.header__nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .header__nav-wrap {
    position: absolute;
    top: 0;
    right: -110%;
    width: 81.9%;
    flex-direction: column;
    justify-content: start;
    max-width: 500px;
    height: 100%;
    padding: 67px 20px;
    background-color: #FFFFFF;
    overflow-y: auto;
    transition: right 0.3s;
  }
}
.header__nav-close {
  display: none;
  position: absolute;
  top: 8px;
  right: 20px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  .header__nav-close {
    display: block;
  }
}
.header__nav-close::before, .header__nav-close::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  background-color: #292D32;
}
.header__nav-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.header__nav-close::after {
  transform: translate(-50%, -50%) rotate(135deg);
}
.header__nav {
  margin-right: 40px;
}
@media screen and (max-width: 992px) {
  .header__nav {
    margin: 0 0 51px 0;
  }
}
.header__nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 992px) {
  .header__nav-list {
    flex-direction: column;
  }
}
.header__nav-item {
  margin-right: 26px;
  padding: 5px 0;
  font-weight: 600;
  line-height: 136%;
}
.header__nav-item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 992px) {
  .header__nav-item {
    margin: 0 0 40px 0;
    padding: 0;
  }
  .header__nav-item:last-child {
    margin-bottom: 0;
  }
}
.header__nav-link {
  text-decoration: none;
  color: #737373;
  transition: 0.3s ease;
}
.header__nav-link--active, .header__nav-link:hover, .header__nav-link:active {
  color: #000000;
}
.header__menu-button {
  display: none;
}
@media screen and (max-width: 992px) {
  .header__menu-button {
    display: flex;
  }
}

.footer {
  margin-top: auto;
  background-color: #000000;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  padding: 48px 0 90px;
}
@media screen and (max-width: 992px) {
  .footer__top {
    display: block;
    padding: 16px 0 58px;
  }
}
@media screen and (max-width: 992px) {
  .footer__logo {
    margin-bottom: 38px;
  }
}
.footer__menus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "menu-left menu-right" "menu-left button";
  gap: 0 15px;
  width: 49%;
}
@media screen and (max-width: 992px) {
  .footer__menus {
    width: auto;
  }
}
@media screen and (max-width: 512px) {
  .footer__menus {
    grid-template-areas: "menu-left menu-right" "button button";
  }
}
.footer__nav--left {
  grid-area: menu-left;
}
.footer__nav--right {
  grid-area: menu-right;
}
.footer__nav-title {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 136%;
  color: #FFFFFF;
}
@media screen and (max-width: 1200px) {
  .footer__nav-title {
    font-size: 14px;
  }
}
.footer__nav-item {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 136%;
}
@media screen and (max-width: 1200px) {
  .footer__nav-item {
    font-size: 12px;
  }
}
.footer__nav-item:last-child {
  margin-bottom: 0;
}
.footer__button-wrap {
  margin-top: 15px;
  grid-area: button;
  align-self: end;
}
@media screen and (max-width: 512px) {
  .footer__button-wrap {
    margin-top: 42px;
  }
}
@media screen and (max-width: 512px) {
  .footer__button {
    width: 100%;
  }
}
.footer__nav-link {
  text-decoration: none;
  color: #737373;
  transition: 0.3s ease;
}
.footer__nav-link:hover, .footer__nav-link:active {
  color: white;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0 22px;
  border-top: 1px solid #1C1C1C;
}
@media screen and (max-width: 992px) {
  .footer__bottom {
    padding: 18px 0 19px;
  }
}
.footer__copyright {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20px;
  color: #737373;
  font-weight: 400;
  font-size: 14px;
  line-height: 136%;
}
@media screen and (max-width: 1200px) {
  .footer__copyright {
    font-size: 12px;
  }
}
@media screen and (max-width: 992px) {
  .footer__copyright {
    font-size: 10px;
  }
}
.footer__copy-text {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #737373;
}
@media screen and (max-width: 992px) {
  .footer__copy-text {
    margin-right: 10px;
    padding-right: 10px;
  }
}
.footer__copy-text:last-child {
  margin-right: 0;
  padding-right: 0;
  border: none;
}
.footer__bottom-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer__bottom-item {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #737373;
}
@media screen and (max-width: 992px) {
  .footer__bottom-item {
    margin-right: 10px;
    padding-right: 10px;
  }
}
.footer__bottom-item:last-child {
  margin-right: 0;
  padding-right: 0;
  border: none;
}
.footer__bottom-link {
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease;
}
.footer__bottom-link:hover, .footer__bottom-link:active {
  color: white;
}
.footer__soc-list {
  display: flex;
  align-items: center;
}
.footer__soc-item {
  margin-right: 17px;
}
.footer__soc-item:last-child {
  margin-right: 0;
}
.footer__soc-image {
  max-width: 17px;
  max-height: 17px;
  -o-object-fit: contain;
     object-fit: contain;
}

/*# sourceMappingURL=main.css.map*/